@model EasyPlanv2.Models.Tbl_Salario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tbl_Salario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SalarioBruto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalarioBruto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Seguro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Seguro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prestamos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prestamos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adelantos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adelantos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Otros)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Otros)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SalarioNeto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SalarioNeto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimeraFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimeraFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UltimaFecha)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UltimaFecha)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalDeducciones)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalDeducciones)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaSalario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaSalario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tbl_Trabajador.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbl_Trabajador.Nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idSalario }) |
    @Html.ActionLink("Back to List", "Index")
</p>
