@model EasyPlanv2.Models.Tbl_Trabajador

@{
    ViewBag.Title = "Delete " + @Html.DisplayFor(model => model.Nombre) + " " + @Html.DisplayFor(model => model.Apellido) + "'s Registry";
    Layout = "~/Views/Shared/_LayoutRespDetails.cshtml";
}


<style>

    body {
        background: #00ffff;
    }

    .container {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 600px;
        width: 600px;
        background: #f2f2f2;
        overflow: hidden;
        border-radius: 20px;
        cursor: pointer;
        box-shadow: 0 0 20px 8px #d0d0d0;
    }

    .content {
        position: absolute;
        top: 50%;
        transform: translatey(-50%);
        text-align: justify;
        color: black;
        padding: 40px;
        font-family: 'Merriweather', serif;
    }

    h1 {
        font-weight: 900;
        text-align: center;
    }

    h3 {
        font-weight: 300;
    }

    .flap {
        width: 100%;
        height: 100%;
    }

        .flap::before {
            position: absolute;
            content: "";
            height: 100%;
            width: 50%;
            background: url("https://pbs.twimg.com/profile_images/1347260174176710658/2GfSZ1i__400x400.jpg") white;
            background-position: 100px;
            background-repeat: no-repeat;
            transition: 1s;
        }

        .flap::after {
            position: absolute;
            content: "";
            height: 100%;
            width: 50%;
            right: 0;
            background: url("https://pbs.twimg.com/profile_images/1347260174176710658/2GfSZ1i__400x400.jpg") white;
            background-position: -200px;
            background-repeat: no-repeat;
            transition: 1s;
        }

    .container:hover .flap::after {
        transform: translatex(300px);
    }

    .container:hover .flap::before {
        transform: translatex(-300px);
    }
</style>


<div class="container">
    <h2 style="text-align:center;">Are you sure you want to delete @Html.DisplayFor(model => model.Nombre)'s Registry</h2> <span class=""></span>
    <div class="content">


        <hr />
        <dl class="dl-horizontal" style="text-align:center;">
            <dt>
                Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellido)
            </dd>

            <dt>
                Roll
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Puesto)
            </dd>

            <dt>
                Age
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Edad)
            </dd>

            <dt>
                Phone
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Telefono)
            </dd>

            <dt>
                E-mail
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Correo)
            </dd>

            <dt>
                Date of birth
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaNacimiento)
            </dd>

            <dt>
                Nationality
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Nacionalidad)
            </dd>

            <dt>
                Num Employee
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NumEmpleado)
            </dd>

            <dt>
                City
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ciudad)
            </dd>

            <dt>
                Direction
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Direccion)
            </dd>

            <dt>
                Date of employment
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaEmpleo)
            </dd>

            <dt>
                Employer
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Empleador)
            </dd>

            <dt>
                Date of dismissal
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FechaDespido)
            </dd>

            <dt>
                Onset of disability
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InicioIncapacidad)
            </dd>

            <dt>
                End of disability

            <dd>
                @Html.DisplayFor(model => model.FinalIncapacidad)
            </dd>

            <dt>
                Ailments
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Padecimientos)
            </dd>

            <dt>
                State
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Estado)
            </dd>

            <dt>
                Observation
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Observacion)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">

                @Html.ActionLink("<< Back to List", "Index")
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        }
    </div>
    <div class="flap">

    </div>
</div>
